/*  WE ARE OVERRIDING XSOLVE COOK... so we NEED TO add " !important"  */
#cookie-law-info-bar {
color: #fff !important;
background: #337ab7 !important;
/*top: 50px !important;*/
position: fixed !important;
bottom: 30px !important;
/*left: 10px !important;
right: 10px !important;
top: 10px !important;*/
float: center !important;
}
/*
a:link {
color: #125a80 !important; 
text-decoration: underline !important; 
}

a:active {
color: #8be5f8 !important; 
text-decoration: underline !important; 
}

a:visited {
color: #00bae2 !important; 
text-decoration: underline !important; 
}

a:hover {
color: #ff0000 !important; 
text-decoration: none !important; 
}
*/
